*{
    margin: 0;
    padding: 0;
}

body{
    background: skyblue;
}

#container{
    width: 320px;
    margin: 50px auto;
}

.card{
    position: relative;
    width: 320px;
    height: 500px;
    margin: 20px 10px;
    border: 1px solid blue;
    background-color: violet;
}

.card img{
    width: 320px;
    height: 180px;
}

.words{
    position: absolute;
    left: 10px;
    top: 300px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width: 1719px) {
    #container{
        width: 660px;
        margin: 50px auto;
    }
    .card{
        position: relative;
        width: 640px;
        height: 180px;
    }
    .words{
        position: absolute;
        left: 320px;
        top: 50px;
        text-align: center;
        width: 200px;
    }

}